
html, body {
    max-width: 100%;
    overflow-x: hidden;
}





/*These are all the styles for the header and nav*/


header {
	height: 500px;
	width: 100%;
	background-image: url('../img/homepage-cover.jpg');
	background-size: cover;
	background-position: center;
	background-color: #333;
}

.header-small {
	height: 200px;
	background-image: none;
}




nav {
	width: 100%;
	background: -moz-linear-gradient(top, rgba(0,0,0,.5) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,.5) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,.5) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
	display: flex;
	justify-content: space-between;
	position: fixed;
	z-index: 2;
}



h1 {
	font-size: 68px;
	margin: 0px 0px 20px 0px
}

h2 {
	font-size: 28px;
	color: white;
	margin: 0px 0px 5px 0px;
	z-index: 1;
}

p {
	font-size: 18px;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 400;
	line-height: 24px;
	margin: 0px;
}

small {
	font-size: 12px;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 400;
	line-height: 24px;
}


a {
	text-decoration: none;
	font-size: 14px;
}


h1, h2, a, p, small {
	color: white;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
}


h1, h2, a {
	font-family: 'Merriweather', serif;
	font-weight: 400;
}



.nav-logo, .nav-links-global {

	margin-top: 20px;

}


.nav-logo {
	display: flex;
	margin-left: 40px;
	z-index: 1;
}

.nav-logo img {
	align-items: center;
}

.nav-links-global {
	display: flex;
	justify-content: space-between;
	width: 300px;
	align-items: center;
	margin-right: 40px;
	z-index: 1;
}

#nav-burger-icon {
	width: 40px;
	height: 40px;
	margin-right: 40px;
	z-index: 2;
	display: none;

}

.hp-cover {
	display: flex;
	height: 100%;
	justify-content: flex-start;
	align-items: center;
}

.hp-cover-small {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.hp-cover-metadata {
	width: 400px;
	margin-left: 40px;
	margin-right: 40px;
	top: 22%;
	z-index: 1;
}

.hp-cover img {

	z-index: 1;
	margin-top: 110px;
}

.primary-button {
	box-sizing: border-box;
	padding: 10px 35px;
	height: 40px;
	border: 1px solid white;
	border-radius: 4px;
}

header:before {
  content: "";
  height: 500px;
  width: 100%;
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(0,0,0,.5);
}


/*This the global padding for all sections*/

/*.sections-all-padding {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background-color: blue;
	position: absolute;
}*/


.left-arrow {
	padding-left: 40px;
}

.right-arrow {
	padding-left: 40px;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.section-animation {
	transition: all 1.5s ease-in-out;
}

.bk {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	position: absolute;

}



/*These are all the styles for main */



.section-travel {
	height: 500px;
	width: 100%;
	background-color: #333;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
}



.travel-arrows {
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: absolute;
	bottom: 45%;
	z-index: 1;
}

.travel-metadata {
	position: absolute;
	bottom: 0;
	z-index: 1;
	padding-left: 40px;
	padding-bottom: 40px;
}

#travel-bk {
	background-image: url('../img/travel-section.png');
}

#travel-bk:hover {
	transform: scale(1.1);	
}

.section-portraits {
	width: 100%;
	height: 500px;
	background-color: #333;
	display: flex;
	position: relative;
	overflow: hidden;
}


.studio-portraits, .outdoors-portraits {
	height: 100%;
	background-color: #333;
}

.studio-portraits {
	background-size: cover;
	display: flex;
	align-items: flex-end;
	width: 50%;
	position: relative;
}

.portraits-metadata {
	position: absolute;
	bottom: 0;
	width: 30%;
	margin-left: 40px;
	margin-bottom: 40px;
	z-index: 1;

}



#studio-bk {
	background-image: url("../img/studio-portraits.jpg");
}

#studio-bk:hover {
	transform: scale(1.1);	
}



.outdoors-portraits {
	background-size: cover;
	display: flex;
	align-items: flex-end;
	width: 50%;
	position: relative;
	overflow: hidden;

}

#outdoor-bk {
	background-image: url("../img/outdoor-portraits.jpg");
}

#outdoor-bk:hover {
	transform: scale(1.1);	
}


.section-motion {
	height: 500px;
	width: 100%;
	background-color: #333;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	position: relative;
}


/*#motion-bk {
	background-image: url("../img/motion.jpg");
}

#motion-bk:hover {
	transform: scale(1.1);	
}*/


video {
  min-width: 100%; 
  min-height: 100%; 
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* Footer here */


footer {
	width: 100%;
	height: 150px;
	background-color: #1F2328;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}


#footer-social-media-icons {
	display: flex;

}

#footer-social-media-icons img {
	margin: 0px 5px 10px 5px;

}





















