.header-small {
	height: 360px;
	width: 100%;
}

.hp-cover-small {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hp-cover-small p {
	width: 60%;
	text-align: center;
}



.section-browse-places {
	width: 100%;
	display: flex;
	position: relative;
	overflow: hidden;
	flex-wrap: wrap;
	background-color: black;

}


.browse-thumbnails {
	background-size: cover;    	
	width: 50%;
	max-height: 1000px;
	position: relative;
	overflow: hidden;
}



.img-browse {
	object-fit: cover;
	width: 100%;
	height: 100%;
}


.img-browse:hover {
	transform: scale(1.1);
	opacity: 1;
}


/*gallery images*/


.photo-horizontal {   	
	max-height: 1200px;
	box-sizing: content-box;
}

.photo-vertical {   	
	max-height: 1800px;
	box-sizing: border-box;
/*	margin: 2px;*/
}

.img-gallery {
	height: 100%;
	width: 100%;
}



.photo-100 {
	width: 100%;
}

.photo-50 {
	width: 50%;
}

.photo-33 {
	width: 33.3%;
}

