
.portraits-select {
	width: 100%;
	background-color: #333;
	display: flex;
	flex-direction: row;
	position: relative;
	overflow: hidden;
}




.header-small {
	height: 276px;
	width: 100%;
}

.hp-cover-small {
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 138px;
	justify-content: center;
	align-items: center;
}

.hp-cover-small p {
	width: 60%;
	text-align: center;
	display: inline-block;
}


.browse-gallery {
	width: 100%;
	display: flex;
	position: relative;
	overflow: hidden;
	flex-wrap: wrap;
	padding: 0px 0px;
	box-sizing: border-box;
}


.browse-places {
	width: 100%;
	display: flex;
	position: relative;
	overflow: hidden;
	flex-wrap: wrap;
	background-color: black;

}


.browse-thumbnails {
	background-size: cover;    	
	width: 50%;
	max-height: 1000px;
	position: relative;
	overflow: hidden;
}

.gallery-next-previous {
	background-size: cover;    	
	width: 50%;
	max-height: 1000px;
	position: relative;
	overflow: hidden;
}


.img-browse {
	object-fit: cover;
	width: 100%;
	height: 100%;
}


.img-browse:hover {
	transform: scale(1.1);
	opacity: 1;
}


/*gallery images*/


.photo-horizontal {   	
	max-height: 1200px;
	box-sizing: content-box;
}

.photo-vertical {   	
	max-height: 1800px;
	box-sizing: border-box;
/*	margin: 2px;*/
}

.img-gallery {
	height: 100%;
	width: 100%;
}



.photo-100 {
	width: 100%;
}

.photo-50 {
	width: 50%;
}

.photo-33 {
	width: 33.3%;
}


.gallery-quotes {
	margin: 40px 0;
	width: 100%;
	text-align: center;
	display: inline-block;
}

.gallery-quotes h3 {

	width: 70%;
	display: inline-block;

}

blockquote h3 {
	line-height: 46px;  
}

	

blockquote h4 {
	color: rgba(256,256,256, .2);  
}

blockquote h3:before { 
    content: open-quote;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size:50px;
    color: rgba(256,256,256, .2);
} 
blockquote h3:after { 
    content: close-quote;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size:50px;
    color: rgba(256,256,256, .2);  
}

