

@media (min-width: 0px) and (max-width: 500px) {

				.header-small {
			height: 450px;
			width: 100%;
		}


		h1 {
			font-size: 38px;
		}

		h3 {
			font-size: 22px;

		}
		p {
			font-size: 16px;
			line-height: 24px;
			width: 80%;
		}

		.hp-cover-metadata {
			width: 330px;
		}		

		.thumbnail-metadata {
			margin-left: 10px;
    		margin-bottom: 10px;;
		}

		.nav-links-global {
			display: none;
		}

		#nav-burger-icon {
			display: flex;
			margin-top: 20px;
		}

		.hp-tiles {
			flex-direction: column;
			max-height: none;
		}

		.section-portraits {
			height: 60%;
			width: 100%;
			flex-wrap: wrap;
			flex-direction: row;
		}

		.places-film {
			width: 100%;
			height: auto;
		}

		.section-places {
			height: auto;
		}


		.hp-travel {
			height: 400px;
		}

		.section-motion {
			height: 300px;
		}

		.studio-portraits, .outdoors-portraits {
			width: 50%;
		}

		video {
			width: 140%;

		}

		.section-places img {
			width: 100%;
		}



/*
		.section-portraits, .section-places  {
			max-height: 400px;
		}*/


}



@media (min-width: 500px) and (max-width: 768px) {
   
		
		.header-small {
			height: 450px;
			width: 100%;
		}


		h1 {
			font-size: 38px;
		}

		h3 {
			font-size: 22px;

		}
		p {
			font-size: 16px;
			line-height: 24px;
			width: 80%;
		}
	

		.thumbnail-metadata {
			margin-left: 10px;
    		margin-bottom: 10px;;
		}

		.nav-links-global {
			display: none;
		}

		#nav-burger-icon {
			display: flex;
			margin-top: 20px;
		}

		.hp-tiles {
			flex-direction: column;
			max-height: 100%;
		}

		.section-portraits {
			height: 60%;
			width: 100%;
			flex-wrap: wrap;
			flex-direction: row;
		}

		.places-film {
			width: 100%;
			height: auto;
		}

		.section-places {
			height: auto;
		}

		.hp-travel {
			height: 400px;
		}

		.section-motion {
			height: 300px;
		}

		.studio-portraits, .outdoors-portraits {
			width: 50%;
		}

		video {
			width: 110%;

		}

		.section-places img {
			width: 100%;
		}
/*		.section-motion {

			height: 300px;

		}*/
/*
		.section-portraits, .section-places  {
			max-height: 400px;
		}*/

}






@media (min-width: 768px) and (max-width: 1143px) {  
  		

		.header-small {
			height: 500px;
		}


		video {
			max-width: 160%;
		}

		.section-places img {
			width: 160%;
		}


/*		.section-travel, .section-portraits   {
			max-height: 700px;
		}
*/


}

@media (min-width: 1143px) and (max-width: 1940px) {
   
		.places-film {
			width: 70%;
		}

		.section-portraits {
			width: 30%;
		}


		.header-small {
			height: 550px;
		}


		video {
			width: 120%;

		}


		.section-places img {
			width: 150%;
		}

/*		.section-travel, .section-portraits    {
		max-height: 800px;

		}*/
		

    }




@media (min-width: 1940px) {
   

		.header-small {
			height: 900px;
		}


		h1 {
			font-size: 78px;
		}

		h2 {
			font-size: 48px;
		}

		p {
			font-size: 22px;
			line-height: 30px;
		}

/*		. .section-travel, .section-portraits   {
		max-height: 1200px;

		}*/


		video {
		  width: 100%; 
		}


		.section-places img {
			width: 100%;
		}

    }


