@media (min-width: 0px) and (max-width: 500px) {
   
		
/*		this styles are only for about me page*/

		.wrapper {
			flex-direction: column;
		}

		.about-img {
			width: 100%;
			margin-left: 0px;
			padding: 0px 40px;
			box-sizing: border-box;
			margin-top: 138px;
			object-fit: cover;
			height: 250px;
		}

		.about-description {
			margin-top: 40px;	
			margin-left: 0px;
			margin-right: 0px;
			padding: 0px 40px;
			width: 100%;
			box-sizing: border-box;
		}

		h2 {
			font-size: 36px;
		}

}



@media (min-width: 0px) and (max-width: 768px) {
   
		
		.header-small {
			height: 250px;
			width: 100%;
		}

		.header-medium {
			height: 300px;
			width: 100%;
		}


		h2 {
			margin-top: 30px;
		}

		.browse-thumbnails {
			width: 100%;
		}

		.hp-cover-small p {
    		width: 80%;
		}

		.hp-cover-small {
    		padding-top: 90px;
		}

		.gallery-quotes h3 {

			width: 90%;
			display: inline-block;

		}

		.gallery-quotes {
			margin: 40px 0;
			width: 100%;
			text-align: center;
			display: inline-block;
		}



}






@media (min-width: 768px) and (max-width: 1143px) {  
  		

		.header-small {
			height: 276px;
		}

		.header-medium {
			height: 350px;
			width: 100%;
		}


		.section-travel, .section-portraits, .section-motion   {
			max-height: 700px;
		}

    }


@media (min-width: 1143px) and (max-width: 1940px) {
   

		.header-small {
			height: 276px;
		}

		.header-medium {
			height: 350px;
			width: 100%;
		}		


		.section-travel, .section-portraits, .section-motion    {
		max-height: 800px;

		}

			.browse-thumbnails {
			width: 33.3%;
		}
		

    }




@media (min-width: 1940px) {
   

		.header-small {
			height: 300px;
		}

		.header-medium {
			height: 350px;
			width: 100%;
		}


		h1 {
			font-size: 78px;
		}

		h2 {
			font-size: 48px;
		}

		p {
			font-size: 22px;
			line-height: 30px;
		}

		.section-travel, .section-portraits, .section-motion   {
			max-height: 1200px;

		}

		.browse-thumbnails {
			width: 33.3%;
		}

		video {
		  width: 140%; 
		  height: 140%; 
		}



    }


