
html, body {
    max-width: 100%;
    height: 100%;
/*    overflow-x: hidden;*/
    background-color: #1E1E21;
    z-index: -10;

}


main {
	 min-height: 100%;
	 margin-bottom: -150px;
}



/*These are all the styles for the header and nav*/


.header-big {
	width: 100%;
	max-height: 900px;
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: black;
	overflow: hidden;
}



nav {
	width: 100%;
	height: 98px;
	background: -moz-linear-gradient(top, rgba(0,0,0,.5) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,.5) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,.5) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
	display: flex;
	justify-content: space-between;
	position: fixed;
	z-index: 2;
	top: 0px;
	transition: top 1s ease-in-out;

}




.nav-scroll {
	background: -moz-linear-gradient(top, rgba(0,0,0, 1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0, 1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0, 1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


.hp-cover-metadata {
	position: absolute;
	width: 400px;
	margin-left: 40px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}




h1 {
	font-size: 58px;
	margin: 0px 0px 20px 0px
}


h2 {
	font-size: 44px;
	color: white;
	z-index: 1;
	margin: 0 0 0 0;

}



h3 {
	font-size: 28px;
	color: white;
	margin: 0px 0px 5px 0px;
	z-index: 1;
}



h4 {
	font-size: 18px;
	color: white;
	margin: 0px 0px 5px 0px;
	z-index: 1;
	line-height: 26px;
}


p, button, input, textarea {
	font-size: 18px;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 400;
	line-height: 30px;
	margin: 0 0 0 0;
}

small {
	font-size: 12px;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 400;
	line-height: 24px;
}


a {
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
}


h1, h2, h3, h4, a, p, small, blockquote {
	color: white;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
}


h1, h2, h3, h4, a {
	font-family: 'Merriweather', serif;
	font-weight: 400;
}


button {
	background: #303040;
	height: 50px;
	width: 130px;
	color: white;
	border: none;

}

input {
	height: 40px;
}

textarea {
	height: 120px;
}

textarea, input {
	background-color: #2D2D34;
	border: 0px;
	width: 100%;
	color: white;
	padding-left: 10px;
}




.nav-logo, .nav-links-global {

	margin-top: 20px;

}


.nav-logo {
	display: flex;
	margin-left: 40px;
	z-index: 1;
}

.nav-logo img {
	align-items: center;
}

.nav-links-global, .nav-links-hp {
	display: flex;
	width: 480px;
	align-items: center;
	margin-right: 40px;
	z-index: 1;
}

.nav-links-global {
	justify-content: space-between;
}

.nav-links-hp {
	justify-content: flex-end;

}

#nav-burger-icon {
	width: 40px;
	height: 40px;
	margin-right: 40px;
	z-index: 2;
	display: none;

}




.primary-button {
	box-sizing: border-box;
	padding: 10px 35px;
	height: 40px;
	border: 1px solid white;
	border-radius: 4px;
}




/*This the global padding for all sections*/

/*.sections-all-padding {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background-color: blue;
	position: absolute;
}*/



.thumbnail-inner-shadow {
	position: absolute;
	height: 40%;
	width: 100%;
	bottom: 0px;
	background: -moz-linear-gradient(bottom, rgba(0,0,0, .8) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(bottom, rgba(0,0,0, .8) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to top, rgba(0,0,0, .8) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
	z-index: 1;
}




.hello {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}


.img-cover {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
	display: block;
}

.img-cover:hover {
	transform: scale(1.1);
}

.img-opacity {
	opacity: .6;
}


.left-arrow {
	padding-left: 40px;
}

.right-arrow {
	padding-left: 40px;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.section-animation {
	transition: all 1.5s ease-in-out;
}

.bk {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	position: absolute;

}

.thumbnail-metadata {
	position: absolute;
	bottom: 0;
	margin-left: 40px;
	margin-bottom: 40px;
	z-index: 2;
	opacity: 0;
	transition: all 2s

}

/*These are all the styles for main */

.hp-tiles {
	display: flex;
	width: 100%;
}


.places-film {
	display: flex;
	flex-direction: column;
	width: 70%; 
	height: 100vh;
}


.section-portraits {
	width: 30%;
	height: 100vh;
	background-color: #333;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
}


.hp-travel {
	height: 60%;
	width: 100%;
	position: relative;
}

.section-places {
/*	height: 20%;*/
	width: 100%;
	background-color: #333;
	position: relative;
	overflow: hidden;
	display: block;
}

.section-places img {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover
}



.travel-arrows {
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}


.studio-portraits {
	width: 100%;
	height: 40%;
	overflow: hidden;
	position: relative;
}

.outdoors-portraits {
	width: 100%;
	height: 40%;
	overflow: hidden;
	position: relative;
}




.section-motion {

	width: 100%;
	height: 40%;
	background-color: #333;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	position: relative;
}




/*#motion-bk {
	background-image: url("../img/motion.jpg");
}

#motion-bk:hover {
	transform: scale(1.1);	
}*/


video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* Footer here */


footer {
	width: 100%;
	background-color: #1F2328;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 10;

}

footer, .push {
	height: 150px;
}


#footer-social-media-icons {
	display: flex;

}

#footer-social-media-icons img {
	margin: 0px 5px 10px 5px;

}


/*mobile burger*/

/*this is for the modal*/

.mobile-burger {

	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .7);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 200;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s;
}

.mobile-burger ul {
	list-style-type: none;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 22px;
	line-height: 44px;
	-webkit-font-smoothing: antialiased;
	text-align: center;

}

.blur-background {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}


.modal-visible {
	visibility: visible;
	opacity: 1;
	transition: opacity 1s;
}


.thumbnail-meta-in-view {
	opacity: 1

}


/*page transition*/ 

body {
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}




/*slide caption*/




.slide-caption {
  position: absolute;
  color: white;
}


/*nav hide and show*/

.nav-up {
  top: -200px; 
}


/*classes for about me page*/


.wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.about-description {
	width: 50%;
	margin-left: 60px;
	margin-top: 150px;

}

.about-img {
	height: 100%;
	width: 20%;
	margin-left: 40px;
	margin-top: 150px;
	background-image: center;

}

